li {
    /* リストの項目要素マーカーを無くす */
    list-style-type: none;
    /* 相対位置 */
    position: relative;
    margin: 2px;
    padding: 0.5em 0.5em 0.5em 2em;
    background: #ECF9FF;
    font-family: sans-serif;
}

li.done {
    /* 背景色 */
    background: #FFE7CC;
}

li.done::before {
    /* contentはコンテンツが現在の文書のスタイルに影響されない置換要素 */
    /* ::beforeとか::afterを使うときにコンテンツを挿入するときに使う */
    content: '';
    /* 絶対位置 */
    position: absolute;
    /* 要素の境界の色 */
    border-color: #f9a866;
    /* 要素の境界線四辺全てのスタイル設定 */
    border-style: solid;
    /* 要素の境界の幅 */
    border-width: 0 0.3em 0.25em 0;
    /* 要素の高さ */
    height: 1em;
    /* 位置指定要素の垂直位置 */
    top: 1.3em;
    /* 位置指定要素の水平位置 */
    left: 0.6em;
    /* 要素の上側のマージン領域を設定 */
    /* 負の数を指定すると遠くになる */
    margin-top: -1em;
    /* 絶対位置に設定しているものを45度回転させる */
    transform: rotate(45deg);
    /* 要素の幅 */
    width: 0.5em;
}